<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="f08381e4-162b-4a6d-bd95-519cd46b751c" />
    <add key="ida:AppSecret" value="uivKBJ4+tfirKHWG4694+)}" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read Mail.Send Mail.Read" />
</appSettings>
